<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MovieDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="movie">
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}">
    <p>{{ movie.overview }}</p>
  </div>

  <h2>Cast</h2>
  <div *ngFor="let member of cast">
    <img src="https://image.tmdb.org/t/p/w500{{ member.profile_path }}" *ngIf="member.profile_path">
    <p *ngIf="!member.profile_path">No image</p>
    <p>{{ member.name }} as {{ member.character }}</p>
  </div>

  <h2>Crew</h2>
  <div *ngFor="let member of crew">
    <img src="https://image.tmdb.org/t/p/w500{{ member.profile_path }}" *ngIf="member.profile_path">
    <p *ngIf="!member.profile_path">No image</p>
    <p>{{ member.name }} - {{ member.job }}</p>
  </div>
</ion-content>
