<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">
    <ion-title>
      G00472920
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-list-header color="primary">
  <ion-label>Primary</ion-label>
</ion-list-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Movie Name" (ionInput)="search($event)"></ion-searchbar>  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="heart-outline" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>

  <h1>Today's Trending Movies</h1>

  <div *ngFor="let movie of movies" (click)="goToDetails(movie)">
    <h2>{{ movie.title }}</h2>
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"> <p>{{ movie.overview }}</p>
  </div>
  
</ion-content>